body{font-size: xx-large;color:red;background-image: url(https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;}
a{text-decoration: none;}
